@import "reset.css";
@import "setup.css";
@import "masthead.css";



body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: whitesmoke;

}

main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}



/* header */

nav ul {
	display: flex;
	list-style: none;
	
	
}

nav li {

	padding: 20px;

}




/* setup */
a {
	display: inline-block;
	text-decoration: none;

	
}

a:hover{
	background-color: #dfe6d9;
}

button:hover {
	background-color: #bdbfcf;
}

 li {
/*	border: 2px solid black;*/
	padding: 20px;

}
#addTitle {
/*	padding: 20px;*/
display: flex;
	margin-left: 20px;
	justify-content: center;
}

#listTitle {
	padding: 20px;
	border-bottom: 5px solid black;
}

#newItemModule {
	padding: 20px;
	min-height: 20px;

}

#newItem {
	min-height: 20px;
	min-width: 40ch;
}


#addItemButton {
	margin-left: 20px;
	min-height: 20px;
}
/* structure */



.completed {
  text-decoration: line-through;
  color: gray;
}


.inner-column {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	padding: 10px;
	width: 90%;
}

.calm-voice {
	font-family: avenir;
	font-size: 1rem;
	font-weight: 400;
	max-width: 70ch;
}

.neutral-voice {
	font-family: avenir;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: .02em;
}

.attention-voice {
	font-family: kepler;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: .03em;
}

.loud-voice {
	font-family: kepler;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: .03em;
}


.page {
	border: 5px solid yellow;

}

#signupPage {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}

