@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;
	border: 2px solid var(--ink);
	font-family:'avenir next';
	font-size: 1rem;
	line-height: 1.4;
	padding: 0.75em 2.25em;
	text-align: center;
}

a.button:hover {
	background-image: radial-gradient(circle, #c94122, #d1561d, #d86a18, #dc7d14, #e09013, #e19f1e, #e2ae2a, #e3bc37, #e3c94b, #e4d65f, #e5e373, #e6ef87);
	box-shadow: inset 400px 0 0 0 #771828;
	transition-duration: 2s;
	
	font-weight: 600;
}

