* {
  box-sizing: border-box;
}

.inner-column {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 1240px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
}

.icon img {
  max-width: 200px;
  padding: 40px;
}

header {
  background: #b1a2a2;
  height: 60px;
}

.nav {
  background-color: #b1a2a2;
}

.nav .inner-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.nav img {
  max-width: 100px;
  margin-right: 50px;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }

  .intro h1 {
    font-family: playfair display;
    max-width: 11ch;
  }
}

.intro,
.accomplishments,
.contact {
  background-color: #38948f;
  padding: 40px;
  background-size: cover;
}

.about svg {
  max-width: 200px;
  
  
}
.about,
.favorite-things {
  background-color: #2a3749;
  padding: 40px;
  background-size: cover;
}

.favorite-things {
  display: flex;
  text-align: left;
}

.favorite-things .inner-column {
  display: flex;
  flex-grow: 1;
  
  
  
}

.favorite-things li {
  padding-bottom: 10px;
}

.favorite-things svg {
  max-width: 300px;
  position: relative;
  right: -50px;

  
}



.intro .inner-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box-layout .box-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  flex-basis: 50%;
  padding: 10px;
}


.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 1000px) {
  .box-layout .box-module {
    flex-direction: row;
    flex-basis: 20%;
    padding: 10px;
  }
}

.avatar img {
  max-width: 350px;
}

@media (max-width: 600px) {
  .intro .inner-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.about .inner-column {
  display: flex;
  align-items: center;
  max-width: 100ch;
  min-height: 20vh;
}

.inner-column .link {
  display: inline-block;
  align-items: center;

  padding: 20px;
}

.footer {
  background: #b1a2a2;
  height: 100px;
}

.footer .inner-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

/* typography */
h1 {
  color: white;
  font-size: 60px;
  font-family: playfair display;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    padding: 20px;
  }
  
  .favorite-things svg {
    display: none; 
  }
}

H2 {
  color: white;
  font-size: 30px;
  font-family: playfair display;
}

h3 {
  color: white;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  font-family: Source Serif Pro;
}

p {
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.image {
  padding: 10px;
}

img {
  padding: 0;
}

.nav a {
  font-size: 20px;
  color: #272424;
  text-decoration: none;
  margin-right: 20px;
  border: 3px solid #333;
  padding: 10px 30px;
  border-radius: 25px;
}

.nav a:hover {
  color: white;
  border: solid 6px #555;
  background: darkslategray;
  transition: 1s ease;
}

.contact p {
  margin-top: 20px;
}

.contact a {
  color: #fff;
  text-decoration: none;
  border: solid 5px #333;
  padding: 10px 20px;
  background: darkslategray;
  border-radius: 25px;
}

.footer a {
  font-size: 20px;
  color: #272424;
  text-decoration: none;
  margin-right: 20px;
  border: 3px solid #333;
  padding: 10px 30px;
  border-radius: 25px;
}

.footer a:hover {
  color: white;
  border: solid 6px #555;
  background: darkslategray;
  transition: 1s ease;
}

@media (max-width: 740px) {
  section,
  header {
    padding: 20px;
  }

  nav {
    padding: 10px 20px 10px 20px;
  }

  p {
    font-size: 16px;
    color: #fff;
    padding-top: 0;
  }

  nav a {
    display: block;
  
  }

  nav a:hover {
    border: none;
  }

  li {
    padding-bottom: 20px;
  }

  .inner-column .link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about h2 {
    font-size: 24px;
  }
  
  .about svg {
    display: none;
  }
  
  
}
