@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;
	background: linear-gradient(0deg, #240240 0%, #592503 100%);
	color: var(--white);
	font-family:'avenir next';
	font-size: 1rem;
	line-height: 1.4;

	padding: 0.5em 1em;
	background-color: var(--color);
	min-width: 120px;
	text-align: center;
}
