html {
	--black: #141414;
	--white: #fdfbf5;

	--neutral-stuffs: #4d4d4d;

	--color: #141414;
	--highlight: #141414;

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);

	--standard: 1140px;
	--tight: 800px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #141414;
		--ink: #eeeae3;
	}
}
