@import "reset.css";
@import "setup.css";




body {
	background-color: #e8ecee;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.inner-column {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	padding: 10px;
}