@import "meyer-reset.css";
@import "setup.css";
@import "programmers-intro.css";


*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
}

/* typography */

.loud-voice {
  font-family: georgia;
  font-size: 42px;
  display: block;
  margin: auto;
  }

  @media (mn-width:600px) {
    .loud-voice {
      font-weight: 700;
    }
  }

.attention-voice {
  font-family: monospace;
  font-size:36px;
  display: block;
  margin:auto;
  }

.calm-voice {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
  display: block;

}

h1 + p {
  padding: 20px;
}

.site-header {
  background-color: skyblue;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .4);
}

.site-header .inner-column {
  padding: 14px;
  b
}

.page-content {
  background-IMAGE: URL("https://images.unsplash.com/photo-1480497490787-505ec076689f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2500&q=80");
  background-size: cover;
  background-position: center 25%;
  flex-grow: 1; /* true */

}

.page-header {
  background-color: rgba(255, 255, 255, .4);

}

.good-poppers {
  background-color: lightgreen;

}

.bad-poppers {
  color: white;

}

.bad-poppers {
  color:white;
}

.site-footer {
  background-color: #222;
  color:white;
}

.inner-column {
  max-width: 800px;
  margin-left: auto;
  margin-right:auto;
  padding: 30px;

}

@media (min-width: 700px) {
 .bad-poppers {
  background-color:transparent;
  }
  .page-header {
    color:palegreen;
    text-shadow: -2px 2px 0 black;
  }















