
mast-head {
	background-color: var(--black);
	display: block;
	color: var(--white);
	border-top: 30px solid #4d4d4d;
	align-items: center;
}

header.top {
	background: black;
	position: sticky;
	top: 0;
}



mast-head .logo {
	max-width: 150px;
	height: 60px;
	padding: 10px;
	margin-top: 15px;
	
}

mast-head nav {
	align-items: center;
}


mast-head .logo * {
	fill: var(--ink);

}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

mast-head .strong-voice {
		font-weight: 200;
	}

mast-head nav a:hover {
	color: black;
	outline: 2px solid white;
	background-color: darkgrey;
	transition: .5s;
	font-weight: 500;
	border-radius: 5px;
}


mast-head nav a:not(.home) {
	padding: .5em 1em;
}



@media (min-width:  600px) {
	mast-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}


}

@media (min-width: 1300px) {
	mast-head {
		padding-left: 100px;
		padding-right: 100px;
	}
}
