
/* HEADER MODULE */

nav img {
	max-width: 150px;
}

mast-head {
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	vertical-align: center;
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

nav ul li {
	display: inline-block;
	text-align: center;
	padding: 10px;
}

.headline {

	max-width: 120ch;
	margin: auto;
	text-align: center;
}

nav img {
	max-width: 150px;
}

mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	vertical-align: center;
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav ul {
	list-style: none;

	margin-left: auto;
	margin-right: auto;
}

nav ul li {
	display: inline-block;
	text-align: center;
	padding: 10px;
}






/* HERO MODULE */

.hero {
	background-image: url("../images/background/diagonal.png");
 	background-color: #cccccc;
 	background-size: cover;
 	width: 100%;
 	padding: 100px 0px;
}


.headline {
	max-width: 120ch;
	margin: auto;
	text-align: center;
	padding: 60px 60px 20px 60px;
}
.text-area {
	max-width: 80ch;
	margin: auto;
	text-align: center;
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px;
}

.get-started {
	display: block;
	padding: 10px 40px;
	background-color: var(--color);
	color: var(--white);
}

.trial-button {
	display: block;
	padding: 10px 40px;
	background-color: var(--paper);
	color: var(--color);
	margin-left: 40px;
}

.text-area {
	max-width: 80ch;
	margin: auto;
	text-align: center;
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px;
}

.get-started {
	display: block;
	padding: 10px 40px;
	background-color: var(--color);
	color: var(--white);	
}

.trial-button {
	display: block;
	padding: 10px 40px;
	background-color: var(--paper);
	color: var(--color);
	margin-left: 40px;
}





/* MAIN CONTENT MODULE */

.center-content {
	background-color: whitesmoke;
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding: 40px;
	text-align: center;
	margin-bottom: 40px;
}

.video-player iframe {
	max-width: 90%;
	padding: 0;
	margin: 0;
	flex-shrink: 1;

}



/* FEATURE MODULE */

.feature-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	padding: 80px 40px;

}

.feature-section .top-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	align-self: stretch;
}

.feature-section h3 {
	max-width: 22ch;
}

.feature-section .square-image img {
	max-width: 700px;
	max-height: auto;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-top: 40px;
	
}

.feature-section .feature-cards img {
	max-width: 40px;
	max-height: 40px;
}

.feature-cards {
	display: flex;
	align-self: flex-end;
	
}

.feature-section .feature-cards li {
	display: flex;
	flex-direction: row;
	max-width: 500px;
	height: auto;
	padding: 10px;
	align-items: flex-start;
	gap: 20px;
}

@media (max-width: 1100px) {
	.feature-section {
		
		flex-direction: column;
		align-items: center;


	}

	.feature-cards {
		align-self: flex-start;
		margin: auto;

	}

	 .feature-cards ol {
		display: grid;
  grid-template-columns: repeat(2, 300px);
  
	}
}

@media (max-width: 700px) {
	.feature-cards {
		margin: 0;
	}

	.feature-cards ol {
		display: flex;
		flex-direction: column;
		max-width: 100ch;

	}

	.feature-cards .quiet-voice {
		max-width: 40ch;
	}
}

/* CLIENT MODULE */

.carousel-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-shrink: 1; 
    padding: 40px 20px;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    transition: transform 0.5s;
    gap: 40px;

}

.card {
	display: flex;
    flex-direction: column;
	max-width: 400px;
    max-height: auto;
   
   
    align-items: center;
    justify-content: center;
    padding: 60px 0px;  
}

.card h4 {
	padding: 25px;
	text-align: center;
}

.card p {
	text-align: center;
}

/* Add media queries */

@media (max-width: 900px) {
	.carousel {
		display: flex;
		flex-direction: column;
	}
}

.client-section .top-text {
	text-align: center;
}

.client-section .card img {
	max-width: 40px;
	margin: auto;
}

.client-section {
	padding: 20px;
}







/* CTA MODULE */

.call-to-action {
	text-align: center;
	padding: 60px 20px;
	background-color: hsla(223, 178%, 98%, 1.0);
}












/* FAQ MODULE */

.faq-section .top-text {
	text-align: center;
	max-width: 80ch;
	margin: auto;
}

.faq-section li {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	padding: 20px;
}

.questions {
	display: flex;
	justify-content: space-around;



}


/* FOOTER MODULE */

footer {
	max-width: 1200px;
	margin: auto;
}

.footer-nav {

	display: flex;
	flex-direction: row;
	gap: 40px;
	text-align: center;
	vertical-align: center;
}


.footer-nav {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 20px;
}

.footer-nav ul {
	width: 200px;
}












