
body {
	
	background-color: var(--color);
	
}



/* HEADER MODULE */

header {
	padding: 0;
	background-color: blue;
	color: white;
}

nav img {
	max-width: 150px;
	aspect-ratio: 3 / 1;
	margin: 0;
	padding: 0;
}

mast-head {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

.site-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-shrink: 1;
}

.site-nav ul {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

.site-nav .user-menu li {
	display: inline-block;
	text-align: center;		
}


nav img {
	max-width: 150px;
}

mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	vertical-align: center;
}

.user-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-menu img {
	max-width: 30px;
	height: 30px;
	padding-right: 5px;
	}

.user-menu .language {
	display: flex;
	flex-direction: row;
	align-items:center;
	font-size: 12px;
	font-weight: 700;	
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	
}

nav ul li {
	display: inline-block;
	text-align: center;

	
}

.user-menu .button2 {
	
	background-color: var(--white);
	color: var(--dark);
	padding: 5px 20px;
	margin-right: -10px;
	border-radius: 5px;
}

@media (max-width: 900px) {
	.site-nav ul {
		display: flex;
		flex-direction: column;
	}
}

/* Hamburger */

.site-nav {
    display: flex;
    justify-content: center;
}

.site-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.site-nav li {
    margin: 0 10px;
}

.site-nav a {
    text-decoration: none;
    color: var(--white);
}

.site-nav a:hover  {
	color: var(--white);
	font-weight: 600;
	margin-right: 5px;
	margin-left: 5px;
	transition: 1s;
}


.toggle-menu {
    display: none;
}

@media (max-width: 900px) {
    .site-nav ul {
        display: none;
    }

    .toggle-menu:checked + .hamburger + .site-nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #fff;
        width: 100%;
        text-align: center;
    }

    .toggle-menu:checked + .hamburger + .site-nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
    }
}






/* HERO MODULE */


.hero {
	background-image: url("../images/background/wavy.svg");
	background-position: bottom;
	background-size: cover;
	height:100%;
	width: auto;
	padding: 100px 20px;
}



.headline {
	max-width: 120ch;
	margin: auto;
	text-align: center;
	padding: 60px 60px 20px 60px;
}
.text-area {
	max-width: 80ch;
	margin: auto;
	text-align: center;
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px;
}

.get-started {
	display: block;
	padding: 10px 40px;
	background-color: var(--color);
	color: var(--white);
}

.trial-button {
	display: block;
	padding: 10px 40px;
	background-color: var(--paper);
	color: var(--color);
	margin-left: 40px;
}

.text-area {
	max-width: 80ch;
	margin: auto;
	text-align: center;
}

.hero-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px;
}

.get-started {
	display: block;
	padding: 10px 40px;
	background-color: var(--color);
	color: var(--white);
}

.trial-button {
	display: block;
	padding: 10px 40px;
	background-color: var(--paper);
	color: var(--color);
	margin-left: 40px;
}
}







/* MAIN CONTENT MODULE */

.center-content   {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    text-align: center;
    margin-bottom: 40px;
    height: 100vh; 
    justify-content: center;

}

inner-column {
	padding-bottom: 100px;
}


.cloud-icon {
    max-width: 100px;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}


.center-text {
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 50px;
    max-width: 100ch;
}

.learn-more {
	text-align: center;
   
}

.learn-more button {
	border: none;
    color: blue;
    background-color: var(--paper);
}





/* FEATURE MODULE */

.feature-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 80px 40px;
}

.feature-section .top-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 40px;
	align-self: stretch;
}

.feature-section h3 {
	max-width: 22ch;
}

.feature-section .square-image img {
	max-width: 700px;
	max-height: auto;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-top: 40px;
}

.feature-section .feature-cards img {
	max-width: 40px;
	max-height: 40px;
}

.feature-cards {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.feature-section .feature-cards li {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	height: auto;
	padding: 10px;
	align-items: flex-start;
	gap: 5px;
	border: 1px solid lightgray;
	border-radius: 10px;
}

.card-text .quiet-voice {
	max-width: 30ch;
}


.feature-cards ol {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-gap: 20px;
}

.top-text .quiet-voice {
	margin-top: 5px;
	margin-bottom: 20px;
}


@media (max-width: 1000px) {

.feature-cards {
	justify-content: center;
}

.feature-cards ol {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 300px);
	grid-gap: 30px;
}

}
@media (max-width: 700px) {
	.feature-cards {
		margin: 0;
	}

	.feature-cards ol {
		display: flex;
		flex-direction: column;
		max-width: 100ch;
	}

	.feature-cards .quiet-voice {
		max-width: 40ch;
	}
}






/* CLIENT MODULE */

.review {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;


}

.review img {
	max-height: 40px;
}

.carousel-container {
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-shrink: 1;
	
}

.carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
	gap: 40px;
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	max-height: auto;
	justify-content: center;
	padding-bottom: 60px;
}

.card-text {
	width: 50vw;
}

.card h4 {
	padding: 60px;
	text-align: center;
}

.card p {
	text-align: center;
}


@media (max-width: 900px) {
	.carousel {
		display: flex;
		flex-direction: column;
	}
}

.client-section .top-text {
	text-align: center;
}

.client-section .card img {
	max-width: 60px;
	max-height: 60px;
	margin: 0;
}

.client-section {
	padding: 20px;
}


.profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}







/* CTA MODULE */

.call-to-action inner-column {
	text-align: center;
	padding: 60px 20px;
	background-color: hsla(223, 178%, 98%, 1);
}

.hero-buttons {
	padding-top: 60px;
	margin-right: 25px;
}

.trial-button {
	border: 1px solid var(--color);
}

.hero-buttons {
    text-align: center; 
}

.quote-button {
	display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: var(--color);
    color: var(--white);
    padding: 5px 10px;
    border: none;
    font-weight: 700;   
}

.quote-button img {
    vertical-align: middle;
    margin-left: 5px;
    width: 30px; 
    height: 30px; 
}

.button-text {
    margin-right: 10px; 
}

.icon-container {
    display: flex; 
    align-items: center; 
}

.trial-button {
    background-color: var(--page);
    color: var(--color);    
    padding: 2px 20px;
    border: 1px solid var(--color);
    
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.button-text {
    margin-right: 10px;
}

.icon-container img {
    width: 30px; 
    height: 30px; 
}














/* FAQ MODULE */

.faq-section {
	padding: 80px 40px;
}

.faq-section .top-text {
	text-align: center;
	max-width: 80ch;
	margin: auto;
}

.faq-section li {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	padding: 20px;
}

.questions {
	display: flex;
	justify-content: space-around;

}

.questions .card-text {
	display: flex;

	justify-content: center;
}

details {
 
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  max-width: 55ch;
  border-top: 1px solid lightgray;

}

summary {
 
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details p {
	border-left: 2px solid var(--color);
	margin-left: 30px;
}

details[open] {
  padding: 0.5em;

}

details[open] summary {
  
  margin-bottom: 0.5em;
}







/* FOOTER MODULE */

footer {
	background-color: var(--paper);
	color: lightgray;
	background-size: cover;
	width: 100%;
	padding: 100px 0px;
}

.footer-nav  {
	display: flex;
	flex-direction: row;
	text-align: left;
	vertical-align: center;
	list-style: none;
	margin-bottom: 50px;
}

@media (max-width: 1000px) {
	.footer-nav {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 40px;
	}

	.site-map {
		margin-top: 60px;
	}


}

.footer-nav .site-map {
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-width: 75%;
}

.site-map ul {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}

.form-container {
	display: flex;
	padding: 0;
	gap: 0;
	align-items: center;
}

.form-container input {
	border: none;
}

.form-container button {
	background-color: var(--color);
	color: var(--white);
	padding:9px;
	margin-left: -5px;
	border: none;

}

footer h3 {
	color: var(--ink);
}

.site-map .quiet-voice {
	color: gray;
	opacity: 0.7;
}

.subscribe p {
	color: gray;
	opacity: 0.7;
}

.subscribe {
	background-color: #f0f3fc ;
	color: gray;
	margin: auto;
	padding: 40px;

	text-align: left;	
	max-width: 80ch;
}

.subscribe h3 {
	margin-bottom: 10px;

	
}

.bottom-footer a {
	color: gray;
}

.subscribe p {
	margin-top: 10px;
	
}

.bottom-footer {
	display: flex;
	align-content: space-around;
	justify-content: space-between;
	padding-top: 50px;
	border-top: 1px solid darkgray;
	
}

.social-menu {
	display: flex;
}









