/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

body {
	-webkit-font-smoothing: antialiased; /* because Brian said to */
	--primary-font: "Inter";
	--secondary-font: "Inter";

}

.loud-voice {
	font-family: var(--primary-font);
	font-size: clamp(48px, 5vw, 60px);
	font-weight: 700;
	letter-spacing: 1.2px;
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 600; /* or variable font */
	}
}

.attention-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
}

.strong-voice {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	font-weight: 600;
}

.calm-voice,
p,
li {
	font-family: var(--secondary-font);
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight:400;
}

.quiet-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.2px;
}


:is(.calm-voice, p) em {
	font-style: italic;
}

:is(.calm-voice, p) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
