@import "reset.css";
@import "setup.css";



body {
	background-color: whitesmoke;
	padding: 20px;
}

nav a {
	text-decoration: underline;
	color: salmon;
	font-weight: 700;
	padding: 20px;
}

.inner-column {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

nav {
	display: flex;
}

h1 {
	font-size: 40px;
}

h2	{
	font-size: 28px;
	margin-top: 1.5em;
}

h3 {
	font-size: 20px;
	margin-top: 1.2em;
}

img {
	width: auto;
	max-height: 40vh;
}




flower-card {
	display: block;
	border: 5px solid pink;
	padding: 10px;
}

.flower + .flower {
	margin-top: 40px;
}

flower-card a {
	text-decoration: underline;
}

