@import "reset.css";
@import "setup.css";



body {
	background-color: lightgrey;
	padding: 20px;
}

nav a {
	text-decoration: underline;
	color: salmon;
	font-weight: 700;
	padding: 20px;
}

nav {
	display: flex;
}

h1 {
	font-size: 40px;
}

