
.container {
   background-color: var(--main-primary);
    border-radius: 8px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
    width: 500px;
    margin-bottom: 150px;
    margin-top: 75px;

}


.contact a {
    display: inline-block;
    border: none;
    background: none;
    padding: 0px 5px;
    color: var(--main-primary);
    border-bottom: 2px solid var(--main-primary);

}

.contact {
    background-color: var(--main-secondary);
}

.contact h1 {
    margin-bottom: 30px;
    margin-top: 45px;
    border-bottom: 4px solid var(--main-primary);
=
}

.contact h2 {
 
    margin-bottom: 20px;
    max-width: 60ch;
   
}

.contact-form label {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    text-align: left;
    color: var(--main-white);
  }

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.contact-form button {
    
    background-color: var(--main-secondary);
    color: var(--main-white);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #aea3a2;
    color: #2d3746;
    transition: 1s;
    outline: 2px solid #2d3746;
}


.contact-cards a {
   
    padding: 10px 20px;
    background-color: #2f3745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.contact-cards img {
    max-width: 200px;
    border-radius: 10px;
}

.contact-cards {
    
    padding: 10px 20px 40px 20px;
}

.substack {
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}



/* Responsive adjustments */
@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}