/* Grid styling */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  padding: 20px; 
  text-align: center; 
}

.secondary {
  color: goldenrod;
  display: block;
}

/* Styling for sections */
.e4p-intro,
.e4p-exercises {
  padding: 50px;
}
.e4p-exercises {
  border: 2px solid var(--main-dark);
  border-radius: 10px;
}

/* Styling for hyperlinks */
.e4p a {
  border: 5px solid var(--main-dark);
  border-radius: 5px;
  text-decoration: none;
  padding: 15px 25px;
  margin-right: 20px;
}

/* Styling for hover state of hyperlinks */
.e4p a:hover {
  background-color: var(--main-white);

  color: var(--main-dark);
  font-weight: 700;
  transition: .5s;
}

/* Inner column styling */
.e4p .inner-column {
  width: 1000px;
}
