.goals {
	width: 100%;
}


.goals p {

  text-align: left;
  max-width: 100ch;
  margin: auto;
  margin-top: 20px;
}


.goals h1 {
 color: #ad858d; 
 font-family: 'Helvetica Neue', sans-serif; 
 font-size: clamp(30px, 20vw, 275px); 
 font-weight: bold; 
 letter-spacing: -1px; 
 line-height: 1; 
 text-align: center;
}

.goal-text {
  margin-bottom: 50px;
  margin-top: 50px;
}

.goals h2 {
 color: var(--main-primary);
 font-family: 'Helvetica Neue', sans-serif;
 font-size: clamp(30px, 15vw, 275px); 
 font-weight: bold; 
 letter-spacing: -1px; 
 line-height: 1; 
 text-align: center; 
}

h5 {
  font-family: didot;
  font-size: clamp(30px, 5vw, 80px);
  color: var(--main-gray);
  padding-left: 20px;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

}

.end-of-course {
  border: 20px dotted var(--main-gray);
  margin-top: 50px;
  padding: 50px 20px;

}

.this-month {
  border: 5px dashed var(--main-gray);
  border-radius: 20px;
  padding: 50px 20px;
}

.five-years {
  border: 25px solid var(--main-gray);
  margin-top: 50px;
  padding: 50px 20px;
  box-shadow: 5px 10px var(--main-dark);
  margin-bottom: 50px;
}

