.intro {
	display: flex;
	flex-direction: row;
	padding: 20px 20px;


}

.favorite-things h2 {
	margin-right: 100px;

}

.favorite-things li {
	list-style: square;
}

.contact-cards .link {
	padding: 20px;
}

.about h2 {
	max-width: 40ch;
	margin: auto;
}