/* main body */
.intro,
.accomplishments,
.contact {
  background-color: var(--main-primary);
  background-size: cover
}
.about,
.favorite-things {
  background-color: var(--main-secondary);
  padding: 40px;
  background-size: cover
}
/* intro */
.intro {
  display: flex;
  flex-direction: row;
  padding: 40px 10px
}
.intro-content {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}
.avatar img {
  max-width: 300px
}

@media (max-width: 975px) {
  .intro-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 0;
    gap: 40px
  }
  .intro .inner-column {
    padding: 0
  }
}



/* about */
.about {
  display: flex;
  padding: 50px 10px
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100ch;
  min-height: 20vh
}
.about-content img {
  max-width: 400px
}

.about svg {
  max-width: 200px
}

.about h2 {
  max-width: 40ch;
  margin: auto
}


/* accomplishments */
.accomplishment-text {
  display: inline-block
}
.accomplishments .inner-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}
.accomplishments {
  padding: 50px 0
}
.box-layout .box-module {
  display: flex;
  flex-direction: row;
  align-items: center
}
.box {
  flex-basis: 50%;
  box-sizing: content-box;
  /*width: 100%;*/
  height: 400px;
  padding: 20px;
  margin-top: 20px;
  gap: 50px
}
.box picture {
  height: 200px;
  padding: 20px 10px;
  margin-bottom: 40px
}
.box img {
  margin: auto;
  min-height: 200px
}
.box img {
  max-width: 200px
}
.box-module h3 {
  padding: 10px
}
.box-module p {
  max-width: 30ch
}

@media (max-width: 1050px) {
  .box-layout .box-module {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 50px;
    gap: 40px
  }
  .box-module p {
    max-width: 50ch
  }
}
.button-container {
    display: inline-block;
    width: 185px;/* Width on hover. Calculate it based on font sizes and paddings */;
    height: 60px;/* Height on hover. Calculate it based on font sizes and paddings */;
}

.garden-button {
    padding: 10px 20px;
    color: var(--main-secondary);
    background-color: var(--main-gray);
    border: 2px solid var(--main-secondary);
    border-radius: 10px;
    margin-top: 20px;
    transition: 3s;
}

.garden-button:hover {
    padding: 10px 20px;
    color: var(--main-white);
   
    background-color: var(--main-dark);
    border: 2px solid var(--main-white);

    cursor: pointer;
}



/* favorite things */

.favorite-things {
  display: flex;
  text-align: left;
}
.favorite-things .inner-column {
  display: flex;
  flex-grow: 1
}
.favorite-things li {
  padding-bottom: 10px;
}

ul {
  padding-inline-start: 0px;
}
.favorite-content {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  /*	border: 2px solid red;*/
  position: relative;
}
.favorite-things li {
  padding-bottom: 10px;
  list-style: square;
  padding-top: 20px;
}
.favorite-content img {
  min-width: 300px;
  max-width: 500px;
  opacity: 80%;
  /*  border: 2px solid white;*/
  position: absolute;
  bottom: -95px;
  right: -200px;
  overflow: hidden;
}

.favorite-content h2 {
	margin-bottom: 40px
}

@media (max-width: 1050px) {
  .favorite-content {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .favorite-content img {
    position: absolute;
    bottom: -82px;
    right: -100px;
    overflow: hidden;
    /*  border: 3px solid #73AD21;*/
    opacity: 50%;
    min-width: 100px;
    max-width: 300px;
  }
}

@media (max-width: 700px) {
  .favorite-content img {
    opacity: 10%;
  }
}



/* contact */
/* Standard display */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  max-width: 200px;
  padding: 40px;
}

.contact p {
  margin-top: 20px;
  max-width: 85ch;
}

/* Media queries for smaller screens (<800px) */
@media (max-width: 800px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap:20px;
  }
  .link-card{
    justify-self: stretch;
  }
}












