.layouts {
	display: flex;
	padding: 20px;
	height: 100vh;
}

.layouts .inner-column {
	max-width: 1000px;
}

.layout-garden-intro {
	padding: 50px;

}

.layout-garden {
	padding: 40px;
	border: 2px solid #52928e;
}

.layout-garden li {
	padding-top: 25px;
	max-width: 400px;
	margin: auto;
}





.layout-garden h2 {
	margin-top: 100px;
	max-width: 50ch;
	margin-right: auto;
	margin-left: auto;
}

.layout-garden h1 {
	margin-top: 100px;
}

.layout-garden a {
	border: 5px solid #52928e;
	text-decoration: none;
	padding: 15px 25px;
	margin-right: 20px;
}