   
  .inner-column {
      display: block;
      max-width: 1000px;
      

    }

    .work-experience .inner-column {
      text-align: left;
    }

    .resume-intro {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }

    .resume h2 {
  text-decoration: underline;
  
}

.intro {
  text-align: center;
}

.resume {
  text-align: left;
}

    .work-dates {
      padding-top: 10px;
    }
    
    .work-experience {
      margin-bottom: 40px;

    }
    .work-title {
      font-size: 1.2em;
      font-weight: bold;
      padding-top: 20px;
    }

    .work-title + .work-title {
      padding-top: 5px;
    }
   
    .work-details {
      margin-top: 20px;
      padding-left: 20px;
      padding-top: 10px;
    }
    .education {
      margin-bottom: 40px;
    }
    .education-details {
      margin-top: 10px;
      padding-left: 20px;
    }
    .skills {
      margin-bottom: 20px;
    }
    .skills-list {
      list-style: none;
      display: flex;
      flex-direction: column;
  
     
      padding: 0px;
      margin: 0px;
    }
    .skills-item {
      flex-shrink: 1;
      width: 400px;
     height: 50px;
     vertical-align: justify;
      padding: 15px 10px; 
      border: 1px solid #ddd;
      border-radius: 5px;
    }