/*.inner-column {
  display: block;
  max-width: 1200px;
  padding: 20px;
  /*border: 2px solid yellow;*/
}

*/

/* intro */

.resume-intro {
  background: hsla(216, 22%, 23%, 1);

  background: linear-gradient(
    180deg,
    hsla(216, 22%, 23%, 1) 0%,
    hsla(176, 28%, 44%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(216, 22%, 23%, 1) 0%,
    hsla(176, 28%, 44%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(216, 22%, 23%, 1) 0%,
    hsla(176, 28%, 44%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2D3746", endColorstr="#508E8A", GradientType=1 );
  background-size: cover;
}

.resume-intro .inner-column {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
  text-align: right;
  padding-left: 20px;

}

.inner-column {
  margin-left: 20px;
  margin-right: 20px;
}

.resume-head {
/*  margin-left: 25px;*/
  border-bottom: 5px solid var(--main-primary);
}

/* work experience */

.work-details {
  margin-top: 40px;
}

.top-details {
  display: flex;

  margin-top: 10px;
  padding-top: 20px;
}

.title-text {
  display: flex;
  flex-direction: column;
}

.title-image img {
  max-width: 60px;
  margin-left: 10px;
  margin-right: 20px;
  flex-shrink: 1;
}

.title-image {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.company-name {
  padding-top: 20px;
  font-size: 40px;
}
 .work-dates {
  font-weight: 200;

  margin-left: 100px;
}

.work-details .degree {
  padding: 0 40px 20px 40px;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 200;
  margin-left: 50px;
}

.role-text {
  max-width: 120ch;

  padding: 5px 100px;
}

.role-text li {
  margin-top: 20px;
  list-style: square;

}

.location {
  line-height: 2;
  font-weight: 300;
  margin-bottom: 10px;
}

/* education */
.education {
  margin-top: 60px;
  margin-bottom: 80px;

}


.education .education-intro {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

/*.education .role-text,
.education .education-text {
  padding: 0 40px 20px 40px;
}*/

.education .degree {
  padding: 0 40px 20px 40px;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 200;
  margin-left: 50px;
}

/* skills */
.skills {
  margin-top: 60px;
  margin-bottom: 80px;
}

.skills .skills-intro {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.skills .degree {
  padding: 0 40px 20px 40px;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 200;
  margin-left: 50px;
  margin-top: 25px;
}

.skills .skills-text,
.skills .skills-list {
  padding: 0 40px 20px 40px;
}

/* Combining the two .skills .skills-text classes */

.skills .skills-text {
  padding: 0 40px 20px 40px;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 200;
  margin-left: 50px;
  

}

/*@media screen and (max-width: 599px) {
  .skills .skills-text {
    grid-template-columns: 1fr;
  }
}*/

.skills .skills-text ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 599px) {
  .skills .skills-text ul {
    grid-template-columns: 1fr;
  }
}



.skills .skills-item {
  flex-shrink: 1;
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}






/* typography */

.resume {
  text-align: left;
}
