* {
  box-sizing: border-box;
  margin: 0
}

body {

  color: white;
  background-color: #2a3748;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0
}

.inner-column {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
/*  border: 2px solid yellow*/
}



/* header styling */

.header-items {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center
}

.nav-list {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none
}

@media (max-width: 800px) {
  .header-items {
    grid-auto-flow: row
  }
  .site-nav {
    justify-self: center
  }
}

header .inner-column {
  padding: 5px
}

.site-nav a {
  display: inline-block;
  color: #272424;
  text-decoration: none;
  padding: 8px 16px;
  margin-left: auto;
  margin-right: auto
}

@media screen and (max-width: 600px) {
  .site-nav a {
    font-size: 14px;
    padding: 0 10px
  }
}

.site-nav a:hover {
  color: white;
  background: darkslategray;
  transition: 1s ease;
  border-radius: 10px
}

.logo img {
  max-width: 80px
}

.site-header {
  background: #b1a2a2;
  z-index: 999;
  top: -2px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5)
}

@media (min-width: 800px) {
  .site-header {
    position: sticky
  }
}

/* footer styling */ 

.site-footer {

   flex-shrink: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #b1a2a2;
  z-index: 999;
  bottom: -2px;
  box-shadow: 0 6px 10px 5px rgba(0,0,0,0.5);
  
}

.footer-items {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 800px) {
  .footer-items {
    grid-auto-flow: row;
  }
  .site-nav {
    justify-self: right;
  }
}



