.xxl-voice {
	font-family: 'youngSerif';
	font-size: clamp(30px, 5vw, 50px);
}


.loud-voice	{
	font-family:'optima bold';
	font-size: clamp(24px, 5vw, 48px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 500; /* or variable font */
	}
}

.attention-voice	{
	font-family: 'Optima';
		font-size: clamp(24px, 5vw, 36px);
}

.strong-voice	{
	font-family: 'ortica';
	font-weight: 700;
	font-size:  1rem;
}

.calm-voice, p {
	font-family: 'ortica';
	font-size: clamp(12px, 5vw, 16px);
	line-height: 1.4;
}

.quiet-voice {
	font-family: 'optima';
	font-size: 12px;
	line-height: 1.2;
}