body {
    margin: 0;
    padding: 0;
    background-color: #f7cfb6;

}

.inner-column {
    max-width: 1000px;
    margin: auto;
}
.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

@media (max-width: 800px) {
  .header-items {
    flex-direction: column;
  }

  .site-nav {
    align-items: center;

  }
}

/* header and footer styling */
.site-nav a {
  display: inline-block;
  font-family: didot;
  font-size: 18px;
  font-weight: 700;
  color: #272424;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .site-nav a {
    font-size: 14px;
    padding: 0 10px;
  }
}

.site-nav a:hover {
  color: white;
  background: darkslategray;
  transition: 1s ease;
}

.logo img {
  max-width: 80px;
}

.box img {
  max-width: 200px;
}




.site-header {
  background: #b1a2a2;
  z-index: 999;
  top: -2px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  
}

@media (min-width: 800px) {
  .site-header {
  position: sticky;
  }
}

.site-footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  background: #b1a2a2;

}


.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #ad858d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h1 {
    font-family: palatino;
    color: #fff;
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    font-family: optima;
    font-size: 1.4rem;
    color: white;
}

.container p {
    font-family: optima;
    font-size: 1.4rem;
    color: white;
    max-width: 35ch;
    margin: auto;
    padding-top: 20px;
    text-align: center;

}  


form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}



input[type="number"] {
    width: 50%;
    padding: 10px;
    border: 3px solid #6c6874;
    border-radius: 5px;
}

button {
    padding: 10px 30px;
    background-color: #6c6874;
    font-family: optima;
    font-size: 1.1rem;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

  h4 {
    font-family: optima;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    
  }


