.site-footer {
  background-color: tan;
	border: 3px solid black;
	padding: 10px;	
}

.footer-text {
	border: 3px solid black;
	padding: 10px;
}

.footer-text h1 {
	padding: 10px;
	margin-bottom: 20px;
	border: 3px solid black;
	margin-top: 25px;
}

.footer-text p {
	padding: 10px;
	margin-bottom: 20px;
	border: 3px solid black;
}

.site-map {
	border: 3px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 	text-align: center; 
}

.site-map nav {
	padding: 10px;
	border: 3px solid black;
	margin-top: 30px;
	margin-bottom: 75px;
}

.site-map nav a {
	padding: 10px 20px;
	border: 3px solid black;
	margin-top: 10px;
}

@media (min-width: 600px) {
  .site-map {
    display: flex;
    flex-direction: row;
		justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
  	}
}
