
/* layout */

.site-header {
		background-color: palegreen;
		border: 3px solid black;
}



.masthead nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	text-align: center;
	border: 3px solid black;


}

.masthead nav a {
	padding: 5px 10px;
	border: 3px solid black;
	margin-right: 10px;

}


@media (min-width: 600px) {
	.masthead {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		}
	}

