/* setup */
a {
	display: block;
}

/* structure */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

inner-column {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* layout */

masthead {
	display: block;
	border: 5px solid red;
	padding: 10px;
}

masthead nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	border: 3px solid green;
}

masthead a {
	padding: 10px;
	border: 3px solid black;
}

@media (min-width: 600px) {
	masthead {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		}
	}

/* typography */

masthead a {
	text-decoration: none;
	color: blue;
}
