@import "reset.css";
@import "setup.css";

@import "masthead.css";
@import "landing.css";

/* setup */
a {
	display: block;
}

/* structure */


body {
	background-color: #e8ecee;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.inner-column {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	padding: 10px;
	width: 90%;
}

.calm-voice {
	font-family: montserrat;
	font-size: 1rem;
	font-weight: 400;
	max-width: 70ch;
}


.neutral-voice {
	font-family: montserrat;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: .02em;
}

.attention-voice {
	font-family: baskerville;
	font-size: 1.6px;
	font-weight: 600;
	letter-spacing: .03em;
}


.loud-voice {
	font-family: baskerville;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: .03em;
}








